@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Righteous&display=swap');

body {
    margin: 0px;
    font-family: Righteous;
    /* background-color: #040405; */
}

#hero {
   background-image: url("../images/Skate1.jpeg");
    background-size: cover;  
    background-size: cover;
    min-height: 100%;
    height: 100%; 
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
   
}

nav img {
    width: 60px;
}

nav a,
 #fa-solid {
    display: inline-block;
    color: #1d3e26;
    text-decoration: none;
    padding: 10px;
    border-radius: 8px 0px 8px 0px;
    transition: background-color 0.5s;
}

nav a:hover {
    background-color: rgb(76, 146, 132);
}

ul {
    display: flex;
    justify-content: center;
    padding: 0px;
    list-style-type: none;
    max-width: 800px;
    margin: 0px auto;
}

ul li {
    padding: 12px;
    width: 24px;
}

li a {
    color:#1d3e26;
    text-decoration: none;
}

.nav_middle_container {
    background-color: rgb(230, 147, 31);

}
.nav_right_container {
    background-color: rgb(230, 147, 31);
}


#home {
    margin-right: auto;
}

.dropdown_container {
    position: relative;
}

.dropdown_menu {
    background-color: rgb(196, 217, 36);
    position: absolute;
    flex-direction: column;
    width: 350px;
    left: 0px;
    top: 75%;
    opacity: 0;
    visibility: hidden;
    transition: 
    opacity 0.5s,
    visibility 0.5s,
    top 0.5s;
}

.dropdown_container:hover .dropdown_menu {
    opacity: 1;
    visibility: visible;
    top: 100%;
}



/* #hero_content {
    display: flex;
    flex-direction: column;
    align-items: center;
} */


/* .button_link {
    display: inline-block;
    background-color: #00ed82;
    color: black;
    text-decoration: none;
    font-weight: bolder;
    font-size: 14px;
    padding: 18px;
    border-radius: 5px;
    width: 670px;
    text-align: center;
    transition: opacity 0.5s;
}

.button_link:hover {
    opacity: 0.5;
} */





/* @media screen and (max-width: 1200px) {
    .button_link {
        width: 80%;
    }
    footer {
        flex-direction: column;
        text-align: center;
        padding-bottom: 36px;
    }
    
    section#cards {
        padding: 0px 24px;
    }

    section#cards p {
        width: 100%;
    }

    #card_container {
        grid-template-columns: 1fr 1fr;
        width: 100%;
        box-sizing: border-box;
    }

    #card_container div {
        background-repeat: no-repeat;
    }

    #card_container h4 {
        font-weight: normal;
    }
}  */