body {
    margin: 0px;
}

nav {
    background-color: rgb(0, 0, 0);
}

ul {
    display: flex;
    justify-content: flex-end;
    padding: 0px;
    list-style-type: none;
    max-width: 800px;
    margin: 0px auto;
}

ul li {
    padding: 12px;
}

li a {
    color:rgb(230, 147, 31);
    text-decoration: none;
    font-family: sans-serif;
}

#home {
    margin-right: auto;
}

.dropdown_container {
    position: relative;
}

.dropdown_menu {
    background-color: rgb(196, 217, 36);
    position: absolute;
    flex-direction: column;
    width: 350px;
    left: 0px;
    top: 75%;
    opacity: 0;
    visibility: hidden;
    transition: 
        opacity 0.5s,
        visibility 0.5s,
        top 0.5s;
}

.dropdown_container:hover .dropdown_menu {
    opacity: 1;
    visibility: visible;
    top: 100%;
}

/* NEW RELASES */

.h1_new_releases{
    border: 7px solid rgb(201, 78, 206);
   background-color: rgb(40, 154, 114);
   padding-inline: 2px;
   margin: auto;
   text-align: center;
}

.h3_new_releases {
   border: 7px solid rgb(180, 202, 33);
   background-color: rgb(40, 154, 114);
   padding-inline: 2px;
   margin: auto;
}

/* GAMES */

.h3_games {
    text-align: right;
    margin:     right;
    padding-right: 100px;
}

.h3_games {
    width: 60%;
}


/* ABOUT */

.img_3 {
    width: 100%;
} 

.hours {
    width: 250px;
    font-weight: 16px color white;
   border: 1px solid rgb(180, 202, 33);
   background-color: rgb(215, 97, 29);
   padding: 10px;
   margin: 50px; 
}

.hours {
    justify-content: center;
}



/* @media screen and (max-width: 768px) {
    ul {
        flex-direction: column;
        text-align: center;
    }
