main {
    width: 800px;
    margin: 24px auto;
}

.side_by_side {
    display: flex;
    align-items: center;
    margin: 48px 24px;
}

.side_by_side .img_container {
    flex: 2;
}

.side_by_side .img_container img {
    width: 100%;
    border-radius: 40px 0px 40px opx;
}

.side_by_side p {
    flex: 1;
    margin: 24px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}

.gallery img {
    box-sizing: border-box;
    width: calc(25% - 2*24px);
    margin: 24px;
}

.gallery_row {
    display: flex;
}
.gallery_row .img_container {
    flex: 1;
    margin: 24px;
}

.gallery_row .img_container img {
    width: 100%;
    border-radius: 24px;
}