.text_input label {
    display: block;
}

.text_input input {
    margin: 4px 0px 16px;
    padding: 12px;
    font-size: 18;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 300px;
}

#first_name_id {
    border: 0px;
    border-bottom: 4px solid salmon;
}

#first_name_id:focus-visible {
    outline: 0;
    background-color: rgb(139, 139, 0);
}

#first_name_id:invalid {
    background-color: salmon;
    border-bottom: red;
}

#last_name_id {
    border: 5px solid cornflowerblue;
    border-radius: 24px;
    color: bisque;
}

#last_name_id:focus-visible {
    outline: 0;
    background-color: black;
    color: white;
}

#code_feelings_id {
    width: 400px;
    height: 100px;
    margin-top: 4px;
    padding: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

#bike_checkbox,
#rasp_radio  {
    border: 5px cornflowerblue;
    padding: 24px;
    background-color: rgb(100, 237, 146);
    color: rgb(229, 154, 57);
}

input[type=date] {
    padding: 12px;
    border: 3px dashed purple;
    font-family: cursive;
    font-size: 24px;
    color: darkgoldenrod;
}

select {
    padding: 12px;
    border: 3px dashed purple;
    font-family: cursive;
    font-size: 24px;
    color: darkgoldenrod;
}


input[type=button] {
    border: 3px solid chocolate;
    padding: 12px;
    margin-right: 12px;
    cursor: progress;
}

input[type=button]:hover {
    background-color: azure;
    color: gray;
}

input[type=reset] {
    border: 1px solid black;
    border-radius: 6px;
    padding: 12px;
    margin-right: 12px;
    background: linear-gradient(to bottom, rgb(215, 35, 215), indigo);
    color: beige;
}

input[type=reset]:active {
    background: linear-gradient(to top, rgb(215, 35, 215), indigo);
}

input[type=submit] {
    background: linear-gradient(to bottom, skyblue, teal);
    border: 0px;
    border-radius: 8px;
    padding: 12px 48px;
    cursor: pointer;
}
input[type=submit]:hover {
    opacity: 0.9;
}
input[type=submit]:active {
    background: linear-gradient(to top, skyblue, teal);
}