li {
    list-style-type: none;
}

.moth_image {
   width: 250px;
   border: 1px solid grey;
   background-color: lightgray;
   padding: 4px;
   margin: 12px; 
}

.moth_image img {
    width: 100%;
}

.left {
    float: left;
}

.left_stacked {
    float: left;
    clear: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.moth_image h3 {
    background-color: azure;
    text-align: center;
}

.moth_image  {
    text-align: center;
}

.layout_container {
    display: flex;
}

.layout_container nav {
    margin-right: 50px;
}